#sizeInput {
    background-color: white;
    border: none;
    border: 2px solid black;
    border-radius: 20px;
    height: 35px;
    width: 50px;
    text-align: center;
}

button {
    border: none;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    height: 35px;
    width: 150px;
}

#grid {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-content: center;
}

#grid > .container{
    flex: 1 1 1;
    display: flex;
    width: fit-content;
}

.draw-box {
    flex: 1 1 1;
    background-color: white;
    border: 1px dotted rgba(128, 128, 128, 0.247);
    height: 25px;
    width: 25px;
}
.draw-box:hover{
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}